/* 
    THINZAR HNIN YU
    DIT/FT/1B/03
    P2201014 
*/

#form {
   background-color: white;
   margin: 50;
   border: 1px solid black;
   border-radius: 25;
   margin-left: auto;
   margin-right: auto;
}

#fieldset {
   margin-left: auto;
   margin-right: auto;
}

p.lead {
   text-decoration: underline;
   font-weight: bold;
}

h1 {
   color: white;
   font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
   width: 400px;
   text-align: center;
}